<launch>

  <arg name="robot_mode" default="true" />
  <arg name="fixed_frame" default="base_link" />
  <arg name="local_map_topic" default="/local_map" />

  <!-- params -->
  <param name="forest_file" value="$(find leg_tracker)/config/trained_leg_detector_res=0.33.yaml" />
  <param name="scan_topic" value="/scan" />
  <param name="fixed_frame" value="$(arg fixed_frame)"/>
  <param name="scan_frequency" value="10.0"/>  
  <param name="max_detect_distance" value="5.0"/>
  <param name="local_map_topic" value="$(arg local_map_topic)"/>
  
  <!-- run detect_leg_clusters -->
  <node pkg="leg_tracker" type="detect_leg_clusters" name="detect_leg_clusters" output="screen"/>
  <!-- run joint_leg_tracker -->
  <node pkg="leg_tracker" type="joint_leg_tracker.py" name="joint_leg_tracker" output="screen"/>

   <!-- run local_occupancy_grid_mapping only if robot_mode is true -->
  <node pkg="leg_tracker" type="local_occupancy_grid_mapping" name="local_occupancy_grid_mapping" 
    if="$(arg robot_mode)" output="screen"/>

</launch>
